html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel,
.text,
.bottom,
#shToggle,
#write-up > p {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.bottom > a,
#thalogo path {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.panel,
.text > h1,
.text > h3,
.panel > div {
  cursor: default;
}
/* --- LOGO --- */

#thalogo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 15px;
  left: 25px;
  cursor: pointer;
  z-index: 10;
}

#thalogo path {
  fill: #FFFFFF;
}

#thalogo:hover path {
  fill: #D8334A;
}

#fs-link {
  position: absolute;
  top: 50px;
  left: 140px;
  z-index: 10;
  color: #D8334A;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

#fs-link:hover {
  color: #F8536A;
}

#fs-link.fshide {
  display: none;
}
/* --- PANELS --- */

.panel {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  text-align: center;
}
.panel:hover{
  width: 40%;
  z-index:  1000;
}

.one {
  background: #11111100  center/cover no-repeat;
  left: 0;
}

.one:hover{
  background: #11111100 url("../images/background/pillars/bg3.jpg")
  center/cover no-repeat;

}

.two {
  background: #3333331f  center/cover no-repeat;
  left: 25%;
}

.two:hover {
  background: #33333370 url("../images/background/pillars/bg4.png")  center/cover no-repeat;
  left: 25%;
}

.three {
  background: #55555538  center/cover no-repeat;
  left: 50%;
}

.three:hover {
  background: #5555557a url("../images/background/pillars/bg2.png")  center/cover no-repeat;
  left: 50%;
}


.four {
  background: #31313157  center/cover no-repeat;
  left: 75%;
}

.four:hover {
  background: #aaaaaa8c url("../images/background/pillars/bg1.jpg")  center/cover no-repeat;
  left: 75%;
}
/* --- TEXT --- */

.text {
  display: inline-block;
  position: relative;
  top: 37%;
  text-align: center;
  text-shadow: 0px 0px 20px #000;
}

.text > h1 {
  margin: -10px 0 0 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 9em;
  color: #FFFFFF;
  text-shadow: 2px 2px 12px #555555;
}

.text > h3 {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  opacity: 0.8;
}

.inactive .text {
  opacity: 0.3;
}
/* --- BOTTOM BUTTON --- */

.bottom {
  position: relative;
  top: 70%;
  left: 0;
  bottom: 0%;
  width: 20%;
  height: 20%;
  text-align: center;
  border-bottom: 10px solid transparent;
}

.active .bottom {
  width: 100%;
  /* border-bottom: 10px solid #0a99ab; */
}

.inactive .bottom {
  width: 50%;
  opacity: 0;
}

.bottom > a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  height: 80px;
  padding: 9px 20px 10px;
  border: 3px solid #0a99ab;
  border-radius: 400px;
  box-shadow: 0px 0px 20px #333;
}

.bottom > a:hover {
  background-color: ##0a99ab;
}
/* --- WRITE-UP --- */

#shToggle {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

#shToggle.ex {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

#shToggle:before,
#shToggle:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 18px;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: #D8334A;
}

#shToggle:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#write-up {
  position: absolute;
  text-align: right;
  top: 30px;
  right: 100px;
  width: 0;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: normal;
  overflow: hidden;
}

#write-up > p {
  position: relative;
  right: 0;
  margin: 0 0 1em;
  text-shadow: 1px 1px 4px #333333;
}

#write-up.hide > p {
  right: -28em;
  opacity: 0;
}

#write-up a {
  text-decoration: none;
  color: #D8334A;
  font-weight: bold;
}

#write-up a:hover {
  color: #F8536A;
}


/*@media screen and (max-width: 420px){
.panel{
  width: 50%;
  height: 50%;

  }
.panel:hover{
  width: 50%;
  height: 50%;
  }
}*/

#display_mobile{
  height: 25%;
}

#display_tablet{
  height: 100%;
}

#display_mobile .panel{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#display_mobile .one{
  background: #11111100 url("../images/background/pillars/bg3.jpg")
}


#display_mobile .two {
  background: #33333370 url("../images/background/pillars/bg4.png")  center/cover no-repeat;
}

#display_mobile .three {
  background: #5555557a url("../images/background/pillars/bg2.png")  center/cover no-repeat;
}


#display_mobile .four {
  background: #aaaaaa8c url("../images/background/pillars/bg1.jpg")  center/cover no-repeat;
}


#display_mobile .panel .buttom{
  top:60%;
  color:#000 !important;
}

#display_tablet .panel{
  position: relative;
  width:50%;
  height: 50%;
}