/* Desktop */
@media screen and (min-width: 1025px){
	h4 {
	    font-size: 30px !important;
	}
	*[data-count='four']:hover{
		/*background-position: -0px !important;*/
	}
	#display_pillar{
		height: 100%;
	}
	.text{
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		vertical-align: middle;
		height: 15% !important;
		position: absolute;
	}
	.pillar-title{
		height: 50px;
	}
	.services-content {
		padding: 50px 30px 0px 30px !important;
	}
	td, th {
		padding: 5px 5px !important;
	}
	#menu .social-icons{
		display:none;
	}	
	.form_holder{
		border-top: #02bad0 5px solid;
		max-width:900%;
		max-width: 900px;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		vertical-align: middle;
		display: table;
		height: 50%;
	}
	svg{
		width:600px !important;
	}
}

/*tablet*/
@media only screen and (min-width: 640px) and (max-width: 1024px){
	h4 {
	    font-size: 30px !important;
	}
	#display_pillar{
		height:100% !important;
	}
	#display_pillar .panel{
		width: 50% !important;
		height: 50% !important;
	}
	.service-menu .left a{
		margin-left:0px;
	}
	.service-menu{
		position:  relative;
	}
	.menu {
		display: inline-block;
	}
	.service-menu{
		height: 50px;
	}
	.services-content {

		width: 100% !important;
		padding: 50px 20px 30px 20px !important;
		width: 100%;

	}
	.node .image{
		display: none;
		width: 0px !important;
	}
	.node .col{
		width: 100% !important;
	}
	.node.active .description{
		height:90px !important;
	}
	.node.active .description img{
		display:none;
	}
	.node.active .description h6{
		font-size:12px;
	}
	.node.active .description p{
		font-size:10px;
	}
	.node:hover .description, .node.active .description{
		width:150px !important;
	}
	td, th {
		padding: 5px 5px !important;
	}
	svg:not(:root){
		height: 345px !important;
	}
	.overlap-gradient{
		background: none !important;
	}	
	.text a{
	  text-shadow:none;
	  position:relative;
	  top:0px;
	}
	#menu .social-icons{
		display:none;
	}
	.holder{
		width: 95%;
		margin: 0 auto;
		margin-top: 50px !important;
	}
	.form_holder{
		position: relative;
	}
	.footer-section {
		position: relative;
	}
	.text{
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		vertical-align: middle;
		height: 50% !important;
		position: absolute;
	}
	.loading .main-section .stage{
		height: 75%;
	}
	svg{
		width:350px !important;
	}
	#lead {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
	#backend {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
	#frontend {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
	#social {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
	#webdev {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
	#marketing {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100% !important;
		height: 419px !important;
	}
}

/*smartphone*/
@media screen and (max-width: 640px){ 
	#display_pillar .panel {
	    width: 100%;
	    height: 25%;
	}
	.pillar-title{
		 height: 50px; 
	}
	.service-menu .left a{
		margin-left:0px;
	}
	.menu {
		display: inline-block;
	}
	.service-menu{
		height: 50px;
	}
	.text a {
		top: 0px !important;
	}
	.left-border {
		border-left: unset !important;
	}
	.top-border {
		border-top: 1px #02bad0 solid !important;
		margin-bottom: 100;
		padding: unset !important;
	}
	.form_holder {
		/* border-top: unset !important; */
	}
	#form_query .col {
		padding: unset !important;
	}
	input {
		padding: unset !important;
	}
	.input-field.col label {
		/*left: unset !important;*/
	}
	.node .image{
		display:none;
		width: 0px !important;
	}
	.node .col{
		width: 100% !important;
	}
	svg:not(:root) {
		height: 250px !important;
	}
	.fullwidth {
		overflow-x: scroll !important;
	}
	.footer-section {
		position: relative;
	}
	.footer-section ul li {
		margin-left: 0px !important;
		min-width: 40px !important;
	}
	.footer-section ul li img, .social-icons img {
		width: 25px !important;
	}
	.footer-section ul li i {
		font-size: 16px !important;
	}
	.footer-section ul li span, .footer-section ul li a {
		font-size: 10px !important;
	}
	.form_holder .row {
		margin-bottom: 0px !important;
	}
	.services-content {
		min-height: 650px !important;
	}
	td, th {
		padding: 5px 5px !important;
	}
	.scroll {
		padding-bottom: 70px !important;
	}
	.scroll .btn-round {
		width: 100%;
		text-align: center;
	}
	.fullwidth {
		overflow: scroll !important;
	}
	#menu .social-icons{
		position:fixed;
		bottom: 10%;
		padding-left: 25px;
	}
	#menu .social-icons ul li a{
		display:inline-block;
		padding-right: 0px;
		padding-left: 10px;
	}
	.menu-left{
		display:none;
	}
	.node.active .description{
		height:90px !important;
	}
	.node.active .description img{
		display:none;
	}
	.node.active .description h6{
		font-size:12px;
	}
	.node.active .description p{
		font-size:10px;
	}
	.node:hover .description, .node.active .description{
		width:150px !important;
	}
	.form_holder{
		position: relative;
	}
	.text{
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		vertical-align: middle;
		height: 90% !important;
		position: absolute;
	}
	.loading .main-section .stage{
		height: 50%;
	}
	h4{
		font-size: 30px !important;
	}
	.node .title{
		display: none !important;
	}
	.services-content {
		width: 100% !important;
	}
	#lead {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#backend {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#frontend {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#social {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#webdev {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#marketing {
		background-size: cover !important;
		background-position: center !important;
		background-attachment: scroll !important;
		width: 100%;
		height: 248px;
	}
	#display_pillar{
		height:100%;
	}
	.text-middle {
	    height: 50% !important;
	}	
	.pillar-title{
		height: unset;
	}
	h4{
	    font-size: 30px !important;
	}
	#why-deegeelab{
		top:0px;
		position: relative;
		width:100%;
		/* float: left; */
	}
	svg{
		width:600px !important;
	}
}