/* iPad Pro */
@media (width: 1024px) and (height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0) {
  	/*Pillars*/
	.pillar-title{
		height: 50px;
	}
  	.panel{
	    width: 50% !important;
	    /*height: 683px !important;*/
	    /*float: left !important;*/
  	}
  	.panel:hover{
  		width: 50% !important;
  	}
	/*alignment for contact form*/
	.row .col.i12{	
		width: 100% !important;
	    margin-left: auto !important;
	    left: auto !important;
	    right: auto !important;
	}
	/*Info resize*/
	.form_holder {
		margin: 10% auto auto !important;
	}
	.i{
		font-size: 20px !important;
	}
	/*Form resize*/
	.input-field.col label{
		font-size: 24px !important;
	}
	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
		font-size: 24px !important;
	}
	.node .title{
		display: none !important;
	}#lead {
	    background-position: 0px 0px !important;
	    background-attachment: scroll !important;
	    width: 100% !important;
	    height: 435px !important;
	}
	#backend {
		background-attachment: scroll !important;
		background-position: 0px 0px !important;
		width: 100% !important;
	    height: 435px !important;
	}
	#frontend {
		background-attachment: scroll !important;
		background-position: 0px 0px !important;
		width: 100% !important;
	    height: 435px !important;
	}
	#social {
		background-attachment: scroll !important;
		background-position: 0px 0px !important;
		width: 100% !important;
	    height: 435px !important;
	}
	#webdev {
		background-attachment: scroll !important;
		background-position: 0px 0px !important;
		width: 100% !important;
	    height: 435px !important;
	}
	#marketing {
		background-attachment: scroll !important;
		background-position: 0px 0px !important;
		width: 100% !important;
	    height: 435px !important;
	}
	.services-content{
		width: 100% !important;
	}

}
/* iPad */
@media (width: 768px) and (height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 0) {
  	/*Pillars*/
	.pillar-title{
		height: 50px;
	}
  	.panel{
	    width: 50% !important;
	    height: 50% !important;
	    float: left !important;
	}
  	.panel:hover{
  		width: 50% !important;
  	}
	/*alignment for contact form*/
	.row .col.i12{	
		width: 100% !important;
	    margin-left: auto !important;
	    left: auto !important;
	    right: auto !important;
	}
	/*Info resize*/
	.form_holder {
		margin: 5% auto auto !important;
	}
	.i{
		font-size: 20px !important;
	}
	/*Form resize*/
	.input-field.col label{
		font-size: 24px !important;
	}
	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
		font-size: 24px !important;
	}
	.node .title{
		display: none !important;
	}
	#lead {
	    background-position: center;
	    background-attachment: scroll;
	    width: 100%;
	    height: 435px;
	}
	#backend {
		background-attachment: scroll;
		background-position: center;
		width: 100%;
	    height: 435px;
	}
	#frontend {
		background-attachment: scroll;
		background-position: center;
		width: 100%;
	    height: 435px;
	}
	#social {
		background-attachment: scroll;
		background-position: center;
		width: 100%;
	    height: 435px;
	}
	#webdev {
		background-attachment: scroll;
		background-position: center;
		width: 100%;
	    height: 435px;
	}
	#marketing {
		background-attachment: scroll;
		background-position: center;
		width: 100%;
	    height: 435px;
	}
	.services-content{
		width: 100% !important;
	}
}
@media (width: 1024px) and (height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 0) {
  	/*Pillars*/
	.pillar-title{
		height: 50px;
	}
  	.panel{
/* 	    width: 50% !important; */
 	    height: 100% !important; 
	    float: left !important;
	}
  	.panel:hover{
  		width: 50% !important;
  	}
	/*Info resize*/
	.form_holder {
		margin: 5% auto auto !important;
	}
	.i{
		font-size: 20px !important;
	}
	/*Form resize*/
	.input-field.col label{
		font-size: 20px !important;
	}
	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
		font-size: 20px !important;
	}
	.node .title{
		display: none !important;
	}
	/* for frontend image position*/
	*[data-count='four']:hover {
	 	background-position: 0px !important;
	}
	/*#lead {
		background-attachment: scroll !important;
		background-position: -600px !important;
	}
	#backend {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#frontend {
		background-attachment: scroll !important;
		background-position: -850px !important;
	}
	#social {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#webdev {
		background-attachment: scroll !important;
	}
	#marketing {
		background-attachment: scroll !important;
		background-position: -900px !important;
	}*/
	h4{
	    font-size: 30px !important;
	}
	.node .title{
		display: none !important;
	}
	svg{
		width:600px !important;
	}
}

/* Landscape */
@media (height: 1024px) and (width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 0) {
	/*Info resize*/
	.pillar-title{
		height: 50px;
	}
	.form_holder {
		/* margin: 8% auto auto !important; */
		max-width: 90% !important;
	}
	.i{
		font-size: 20px !important;
	}
	/*Form resize*/
	.input-field.col label{
		font-size: 24px !important;
	}
	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
		font-size: 24px !important;
	}
	.node .title{
		display: none !important;
	}
	/*for pillar images position*/
	*[data-count='one']:hover{
		background-position: -850px !important; 
	}
	*[data-count='two']:hover {
		background-position: -800px !important;
	}
	*[data-count='three']:hover {
		background-position: -250px !important; 
	}
	*[data-count='four']:hover {
	 	background-position: -728px !important;
	}
	#lead {
		background-attachment: scroll !important;
		background-position: -350px !important;
	}
	#backend {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#frontend {
		background-attachment: scroll !important;
		background-position: -850px !important;
	}
	#social {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#webdev {
		background-attachment: scroll !important;
	}
	#marketing {
		background-attachment: scroll !important;
		background-position: -800px !important;
	}
}
@media (height: 1024px) and (width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
	/*Info resize*/
	.pillar-title{
		height: 50px;
	}
	#display_pillar{
		height:100%;
	}
	#display_pillar .panel{
		width:100%;
		height:25%;
	}
	*[data-count='one']:hover{
		background-position: -400px !important;
	}
	*[data-count='two']:hover {
		background-position: -300px !important;
	}
	*[data-count='three']:hover {
		background-position: -150px !important;
	}
	*[data-count='four']:hover {
	 	background-position: -350px !important;
	}
	#lead {
		background-attachment: scroll !important;
		background-position: -350px !important;
	}
	#backend {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#frontend {
		background-attachment: scroll !important;
		background-position: -850px !important;
	}
	#social {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#webdev {
		background-attachment: scroll !important;
	}
	#marketing {
		background-attachment: scroll !important;
		background-position: -800px !important;
	}
}
@media (height: 768px) and (width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) {
	/*Info resize*/
	.pillar-title{
		height: 50px;
	}
	#display_pillar{
		height:100% !important;
	}
	#display_pillar .panel{
		width: 50% !important;
		height: 50% !important;
	}
	.text{
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		vertical-align: middle;
		height: 40%;
		position: absolute;
	}	
	*[data-count='one']:hover{
		background-position: -100px !important;
	}
	*[data-count='two']:hover {
		background-position: -10px !important;
	}
	*[data-count='three']:hover {
		background-position: -0px !important;
	}
	*[data-count='four']:hover {
	 	background-position: -0px !important;
	}
	#lead {
		background-attachment: scroll !important;
		background-position: -350px !important;
	}
	#backend {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#frontend {
		background-attachment: scroll !important;
		background-position: -850px !important;
	}
	#social {
		background-attachment: scroll !important;
		background-position: -200px !important;
	}
	#webdev {
		background-attachment: scroll !important;
	}
	#marketing {
		background-attachment: scroll !important;
		background-position: -800px !important;
	}
}
@media screen and (max-width: 767px) and (orientation:landscape) {
	#display_pillar{
		height:100%;
	}
	.text-middle {
	    height: 50% !important;
	}
  	.panel{
	    width: 50% !important;
	    height: 50% !important;
	    float: left !important;
	}	
	.pillar-title{
		height: unset;
	}
	#lead {
		background-position: -center;
	}
	#backend {
		background-position: center;
	}
	#frontend {
		background-position: -center;
	}
	#social {
		background-position: center;
	}
	#webdev {
		background-position: -center;
	}
	#marketing {
		/* background-position: -300px !important; */
	}
	h4{
	    font-size: 30px !important;
	}
	.node .title{
		display: none !important;
	}
	svg{
		width:600px !important;
	}
}