html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    /* overflow: hidden; */
}
a {
    color: #000;
    line-height:  64px;
    text-decoration: none;
}
body {
    background-size: cover;
    /* font-family: Open Sans !important; */
}
ul {
    list-style-type: none;
    padding: 0;
}
p {
    font-size: 12px;
    /* height: 900px; */
}
span {
    font-size: 15px;
}
main {
    flex: 1 0 auto;
}

.select-dropdown{
    max-height:200px;
}

.no-padding{
    padding:0px !important;
}
h1, h2, h3, h4, h5 p {
    color: black !important;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
    /* font-family: 'walkway_semiboldregular'; */
    line-height: 1.2;
    margin-top: 20px;
}
h4, h5, h6 {
    font-weight: 300
}
.move {
    background: url("../images/backback.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 650%;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fp-slide {
    float: left
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
}
.wrap .box, .wrap {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.box {
    font-family: Open Sans;
    text-align: left;
    line-height: 26px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    width: 51%;
}
.box p {
    margin: 15px 0
}
.overlay {
    background: #656565;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
}
#preloader {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}
#preloader img {
    position: relative;
    top: 50%;
    left: 0;
    margin: 0 auto;
    right: 0;
}
#preloader span {
    top: 50%;
    position: relative;
}
#logo {
    position: fixed;
    top: 2%;
}
#social-icons ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#social-icons li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}
#social-icons a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#social-icons a i {
    font-style: normal;
    font-weight: normal;
    opacity: 1;
    display: block;
    font-variant: normal;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 27px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#social-icons a:hover i {
    border: 1px solid #DA9700;
    color: #DA9700;
}
/*Right side mockup*/

#hand {
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /*background: url() top no-repeat;*/
    width: 400px;
    /*height: 100%;*/
    background-size: 100%;
    position: fixed;
    margin-left: -209px;
    top: 20%;
    /*margin-top: -270px;*/
    left: 70%;
}
.card.horizontal .card-image {
    max-width: 40% !important;
}
#main-nav {
    position: fixed;
    z-index: 100;
    top: 2%;
    left: 14px;
    font-size: 32px;
    font-weight: 300;
}
#main-nav span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#main-nav:hover span {
    color: #DA9700
}
#menu-logo img {
    display: block;
    margin: 30px auto 35px auto;
}
.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 240px;
    overflow-x: none;
    overflow-y: auto;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 15px;
    background: #CD8E00;
}
.sidr.right {
    left: auto;
    right: -260px;
}
.sidr.left {
    left: -260px;
    right: auto;
}
.sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 45px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
    border-top: none;
    background: #DA9700;
}
.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
    background: #DA9700
}
.sidr ul li a, .sidr ul li span {
    padding: 0 25px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li a span {
    display: inline-block;
    padding-left: 0;
    font-weight: 300;
    font-size: 14px;
}
.sidr-open .wrap {
    width: 1200px
}
.sidr-open .fp-slidesNav {
    margin-left: -602px!important
}
.sidr-open .wrap .box {
    width: 40%
}
.sidr-open #main-nav {
    left: 274px
}
/*navigation bullets*/

#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 52%;
    opacity: 1;
}
#fp-nav.left {
    right: 17px;
}
#fp-nav span, .fp-slidesNav span {
    border-color: #aaa
}
#fp-nav li .active span, .fp-slidesNav .active span {
    background: #fff
}
.fp-slidesNav {
    position: absolute;
    z-index: 4;
    margin-left: -523px!important;
    text-align: left;
    left: 50%;
    opacity: 1;
    top: 50%;
    margin-top: 140px;
}
.fp-slidesNav.top {
    top: 17px
}
#fp-nav ul, .fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav li, .fp-slidesNav li {
    display: block;
    width: 12px;
    height: 12px;
    margin: 7px;
    position: relative;
}
.fp-slidesNav li {
    display: inline-block;
    margin: 3px;
}
.fp-slidesNav li a, #fp-nav li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
}
.fp-slidesNav li a, #fp-nav li a {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgb(172, 172, 172);
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}
.fp-slidesNav li a:hover, .fp-slidesNav li a:focus, #fp-nav li a:hover, #fp-nav li a:focus {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6)
}
.fp-slidesNav li a.active, #fp-nav li a.active {
    box-shadow: inset 0 0 0 8px white
}
/*---------------------------------------
   ELEMENTS          
-----------------------------------------*/

/*tabs*/

.tabs-style-linemove nav {
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 4px;
}
.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #DA9700;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.tabs-style-linemove nav li:first-child.tab-current~li:last-child::before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(1).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}
.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.tabs-style-linemove nav a {
    padding: 20px 0;
    color: #fff;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
}
.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-height: 270px;
}
.tabs nav {
    text-align: center
}
.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}
.tabs nav a span {
    vertical-align: middle
}
.tabs nav a:focus {
    outline: none
}
.content-wrap {
    position: relative
}
.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 15px 0 0 0;
}
.content-wrap section.content-current {
    display: block
}
/*carousel*/

.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: -70px;
    width: 20px !important;
    height: 74px;
    border: none;
    display: block;
    background: url(../images//bg_direction_nav.png) no-repeat 0 0;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fp-controlArrow.fp-next {
    right: -70px;
    width: 20px;
    height: 74px;
    border: none;
    display: block;
    background: url(../images//bg_direction_nav.png) no-repeat 0 0;
    cursor: pointer;
    opacity: 0.6;
    background-position: 100% 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fp-controlArrow.fp-prev:hover, .fp-controlArrow.fp-next:hover {
    opacity: 1
}
/*buttons*/

.appstore {
    background: url(../images/appstore.png);
    height: 21px;
    width: 17px;
    margin-top: 2px;
    float: left;
}
.appstore-button:hover .appstore {
    background: url(../images/appstore2.png)
}
.playstore {
    background: url(../images/playstore.png);
    height: 20px;
    width: 17px;
    margin-top: 2px;
    float: left;
}
.playstore-button:hover .playstore {
    background: url(../images/playstore2.png)
}
.simple-button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    color: #ffffff;
    min-width: 130px;
    margin-right: 10px;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 25px;
    float: left;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #DA9700;
}
.simple-button:hover {
    color: #333;
    background: #fff;
}
/*tooltip*/

.has-tooltip:hover+.tooltip, .has-tooltip:focus+.tooltip, .has-tooltip.hover+.tooltip {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1) rotate(0deg);
    pointer-events: inherit;
}
.tooltip {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75) rotate(5deg);
    transform-origin: bottom center;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
    transition: 0.15s ease-in-out;
    opacity: 0;
    width: 100%;
    max-width: 100vw;
    pointer-events: none;
    z-index: 5;
}
.tooltip.blue {
    background: rgba(71, 184, 224, 0.75);
}
.tooltip.blue:after {
    border-top: 5px solid rgba(71, 184, 224, 0.75);
}
.tooltip.red {
    background: rgba(231, 29, 54, 0.75);
}
.tooltip.red:after {
    border-top: 5px solid rgba(231, 29, 54, 0.75);
}
.tooltip.green {
    background: rgba(46, 196, 182, 0.75);
}
.tooltip.green:after {
    border-top: 5px solid rgba(46, 196, 182, 0.75);
}
.tooltip.purple {
    background: rgba(165, 147, 224, 0.75);
}
.tooltip.purple:after {
    border-top: 5px solid rgba(165, 147, 224, 0.75);
}
.tooltip:hover {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1) rotate(0deg);
    pointer-events: inherit;
}
.tooltip img {
    max-width: 100%;
}
.tooltip:after {
    content: "";
    display: block;
    margin: 0 auto;
    widtH: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}
.field {
    position: relative;
    padding: 20px;
}
}
/*icons*/

.icon {
    font-weight: normal;
    line-height: 20px;
    margin-right: 5px;
}
.clients-content .icon, .tabs .icon, .features .icon {
    color: #DA9700
}
.simple-button .icon {
    margin-right: 20px;
    font-size: 18px;
}
/* --------------------------------------
SECTIONS
-----------------------------------------*/

/*Features*/

.features {
    margin-top: 10px;
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
}
.features li {
    margin-bottom: 10px
}
/*Clients feedbacks*/

.clients-content {
    position: relative
}
.clients-content .fp-controlArrow {
    display: none
}
.clients-content .fp-tableCell {
    height: 100%!important
}
.client-stars {
    float: right
}
.clients-content p {
    margin-top: 0
}
/* Video Presentation*/

.video-presentation {
    width: 100%;
    margin-top: 30px;
}
.video-presentation iframe {
    border: none
}
/*Screenshots*/

.screenshots-wrapper, .section-image {
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    z-index: 1;
    margin-top: -192px;
    width: 232px;
    height: 407px;
    margin-left: 270px;
    border-radius: 3px;
}
.screenshots-wrapper img, .section-image img {
    width: 100%;
    display: block;
    max-height: 407px;
}
.screenshots-wrapper {
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    opacity: 0;
}
.active .screenshots-wrapper {
    opacity: 1;
    overflow: visible;
}
.screenshots-wrapper .fp-tableCell {
    height: 100%!important
}
.active .section-image img {
    opacity: 1
}
/*Pricing*/

.pricing-button {
    padding: 20px 0;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 700;
}
.price-table {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-align: center;
    width: 31%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
}
.popular {
    color: #fff;
    padding: 30px 0;
}
.popular .icon {
    color: #fff
}
.package {
    padding: 20px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 15px;
    font-size: 22px;
    font-family: 'walkway_semiboldregular';
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.popular .price {
    background-color: rgba(255, 255, 255, 0.2) !important
}
.dollar {
    font-size: 21px
}
.amount {
    font-size: 28px;
    line-height: 32px;
}
.specifications {
    list-style: none;
    text-align: left;
    margin: 15px 20px;
}
.sidr-open .specifications {
    margin: 15px 10px
}
.specifications li {
    padding: 3px
}
.specifications .icon {
    padding-right: 10px;
    color: #DA9700;
}
.normal .btn-line {
    width: 150px
}
.popular .btn-line {
    color: #fff !important;
    border-color: #fff !important;
}
.price-table:hover .pricing-button, .price-table:hover .package {
    background: #DA9700
}
/*Contact*/

.mdl-textfield--floating-label.is-dirty, .mdl-textfield__label {
    color: rgb(255, 255, 255) !important;
}
.mdl-textfield__input {
    border-bottom: 1px solid #fff !important;
}
/*#form_registration textarea:focus,
#form_registration textarea {
    width: 100%;
    resize: none;
    margin-bottom: 0;
}
#form_registration input:focus, textarea:focus  { background: #DA9700  }
*/

.btn {
    font-weight: 700;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    min-width: 120px;
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    /* background: #DA9700; */
}
.btn:hover {
    background: #fff;
    color: #111;
}
.browser-mobile .overlay {
    opacity: 1;
    /* background: url(../images/bg.jpg) no-repeat 0 0; */
    background-size: cover;
}
.select-wrapper span.caret {
    /* color: #fff !important; */
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    /* color: #fff !important; */
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    color: #2b2a2a !important;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #0999ab !important;
    -webkit-box-shadow: 0 1px 0 0 #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
.error {
    font-size: 10px;
    float: right;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    margin: 0 0 5px 0 !important;
}
ul.skills li.avatar: {
    background-color: transparent !important;
    border: none !important;
    min-height: 30px !important;
    line-height: 30px;
}
ul.skills {
    border: none !important;
}
.hovbutton:hover {
    fill: black;
}

.left-border{
    border-left: 1px #02bad0 solid;    
}

.logo-color{
    color:#02bad0 !important;
}

.overlap-gradient{
	width:100%;
	height: 100%;
	background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(255,255,255,0));;
	background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(255,255,255,0));;
	background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(255,255,255,0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.btn-round{
    border-radius: 20px !important;
    background:  #02bad0;
    text-shadow: none;
}

#contact_bg{
    background: url("../images/bg_contact_image.png") no-repeat;
    background-size: cover;
    min-height: 300px;
    opacity:  0.6;
}

.node .title{
   width:150px;
   background: rgba(0, 0, 0, 0.5);
   padding:5px;
   color: #fff;
   text-align: center;
   border-radius:  3px;
   display:inline-block;
   z-index: 100;
   position: relative;
}

.node .description{
    width: 250px;
    height:100px;
    overflow:hidden;
    opacity:0;
    box-sizing:content-box;
    text-align: left;
    position: absolute;
    z-index: 10000;
    border-radius: 3px;
    -webkit-transition: width 0.1s, width 0.1s; /* For Safari 3.1 to 6.0 */
    transition: width 0.1s, width 0.1s;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
    transform: rotateX(180deg);
}

.node:hover .description, .node.active .description{
    /* width:250px; */
    /* height:100px; */
    background: #fff;
    padding: 5px;
    opacity:1;
    transform: rotateX(0deg);
}

.svg-pulse.active{
    animation: svg-pulse 0.5s linear infinite;
    -webkit-animation: svg-pulse 0.5s linear infinite;
    -moz-animation: svg-pulse 0.5s linear infinite;
    -o-animation: svg-pulse 0.5s linear infinite;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform: translate(0%, 0%) !important;
    -webkit-transform: translate(0%, 0%) !important;
    -moz-transform: translate(0%, 0%) !important;
    -o-transform: translate(0%, 0%) !important;
    fill: #ccc !important;
}

.svg-animation-in{
    -webkit-animation: svg-zoom-in 0.3s linear;
    transform-origin: center center;
    -webkit-transform: scale(1.4);
    fill: #ccc !important;
}
.svg-animation-out{
    -webkit-animation: svg-zoom-out 0.3s linear;
    transform-origin: center center;
    -webkit-transform: scale(1.0);
    fill: #ccc !important;
}

#display_tagline .progress .determinate{
    /* width: 50%; */
    /* -webkit-transform: scaleX(2) !important; */
}

.node:hover .title, .node.active .title{
    opacity:0;
}

.node .description .image{
    background-size: cover !important;
    background-position: center !important;
    min-height: 100px;
}

.node p{
    font-size:10px;
    margin-top: 0px;
}


.bold{
    font-weight:bold;
    margin:  0px;
}

.node a{
    line-height: unset;
    /* position: relative; */
    /* left: 0px; */
}

div[data-anchor="home"] .fp-tableCell{
    background: rgba(72, 72, 72, 0);
}

#menu{
    background:rgba(16, 16, 16, 0.9);
    z-index: 10000;
}

.menu-left{
    position: fixed;
    top: 40%;
    left: 0%;
}

.menu{
    animation: deegeelab-pulse 0.5s linear infinite;
    -webkit-animation: deegeelab-pulse 0.5s linear infinite;
    -moz-animation: deegeelab-pulse 0.5s linear infinite;
    -o-animation: deegeelab-pulse 0.5s linear infinite;
    width:30px;
    height:30px;
    margin: 10px 0px 0px 10px;
}

.menu i{
    /* color: #02bad0; */
    line-height: 20px;
}


.bulleted{
    font-size: 10px;
    margin-right:20px;
}

.paragraph{
    font-size: 12px;
    margin-bottom: 30px;
}

.fullwidth{
    overflow:hidden;
}

.enclosed{
    padding: 0px 0px 50px 0px !important;
}

.enclosed a{
    line-height: unset !important;
}

.enclosed .row{
   margin-bottom: 0px !important;
}

.enclosed .divider{
    margin-bottom: 20px !important;
}

a.menu:hover{
    background: none;
    transform: rotate(360deg);
    transition: all 0.3s ease;
}

.loading{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align:  middle;
  overflow:  hidden;
  z-index: 10000;
  background: #fff;
}

.logo{
  transform: translate(0%, 0%) scale(0.1);
  margin: auto;
  animation: logo-appear 2s cubic-bezier(0.4, 0, 1, 1) infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
}

.logo img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    display:  block;
    vertical-align:  middle;
    top: 0;
    bottom:  0;
    right: 0;
    left: 0;
    position: absolute;
}

.loading .container {
  transform: translate(0%, 0%);
  margin: auto;
  animation: rotate-move 2s ease-in-out infinite;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position:  absolute;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-6 {
  background-color: #ffffff;
  border:5px solid #02bad0;
  animation: dot-6-move 2s ease infinite, index 6s ease infinite;
}

.dot-5 {
  background-color: #02bad0;
  border:5px solid #02bad0;
  animation: dot-5-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-4 {
  background-color: #ffffff;
  border:5px solid #02bad0;
  animation: dot-4-move 2s ease infinite, index 6s -2s ease infinite;
}

.dot-3 {
  background-color: #ffffff;
  border:5px solid #02bad0;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #ffffff;
  border:5px solid #02bad0;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #02bad0;
  border:5px solid #02bad0;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}


/* Loading */
@keyframes dot-6-move {
  20% {transform: scale(1)}
  45% {transform: translateY(18px) scale(.45)}
  60% {transform: translateY(90px) scale(.45)}
  80% {transform: translateY(90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-5-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, -12px) scale(.45)}
  60% {transform: translate(-80px, -60px) scale(.45)}
  80% {transform: translate(-80px, -60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-4-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, -12px) scale(.45)}
  60% {transform: translate(80px, -60px) scale(.45)}
  80% {transform: translate(80px, -60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  0% {opacity: 0;}
  42% {opacity: 0;}
  45% {opacity: 1;}
  55% {transform: translate(0%, 0%) rotate(90deg);}
  80% {transform: translate(0%, 0%) rotate(360deg);opacity: 1;}
  90% {transform: translate(0%, 0%) rotate(360deg);}
  100% {opacity: 0;}
}

@keyframes logo-appear {
  1% {transform: translate(0%, 0%) scale(0);opacity: 0;}
  20% {transform: translate(0%, 0%) scale(1);opacity: 1;}
  45% {transform: translate(0%, 0%) scale(.45);opacity: 1;}
  90% {transform: translate(0%, 0%) scale(.45);opacity: 1;}
  100% {transform: translate(0%, 0%) scale(0);opacity:0;}
}

@keyframes index {
  0%, 100% {display:none;}
  33.3% {display:none;}
  66.6% {display:none;}
}

.ui-datepicker-calendar td {
    padding: 0px !important;
    text-align: center;
}

.ui-datepicker-calendar td a{
    /* padding: 0px !important; */
    line-height:  unset;
    text-align: center;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-design-icons/material-icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.menu i.home{
    background: url(../images/icons/home.png) no-repeat !important;
    background-size: contain !important; 
    width: 100%;
    height: 100%;
}
.menu i.prev{
    background: url(../images/icons/back.png) no-repeat !important;
    background-size: contain !important; 
    width: 100%;
    height: 100%;
}
.menu i.next{
    background: url(../images/icons/next.png) no-repeat !important;
    background-size: contain !important; 
    width: 100%;
    height: 100%;
}
.menu i.nav{
    background: url(../images/icons/nav.png) no-repeat !important;
    background-size: contain !important;
    width: 100%;
    height: 100%;
}
.menu i.mouse{
    background: url(../images/icons/ms.png) no-repeat !important;
    background-size: contain !important; 
    width: 100%;
    height: 100%;
}
.mouse-holder{  
    position:  absolute;
    width: 100%;
}
.menu.up-down{
    animation: up-down 1s infinite;
    background: rgba(0, 0, 0, 0.3);
}
body.home{
    overflow: hidden;
}
.menu.up-down:hover{
     -webkit-filter: invert(.8); 
     filter: invert(1); 
    background: rgba(0, 0, 0, 0.3);
}
.mobile {
    : display display: none !important;
}
#social-icons, #logo {
    width: 100%;
    text-align: center;
}

.pillar-title{
    /* height: 100px; */
}
.bgpillars {
    /*background: url("../images/services/frontend.png");*/
    width: 100% !important;
    min-height: 400px !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section {
    background: url("../images/background/homepagebg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section {
    background: url("../images/background/bgcontact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pillar-section {
    background: url("../images/background/bgpillar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#lead {
    background: url(../images/services/lead.png) no-repeat;
    background-size: cover;
    background-position: -400px;
    background-attachment: fixed;
}
#backend {
    background: url(../images/services/bgbackend.png) no-repeat;
    background-size: cover;
    background-position: -200px;
    background-attachment: fixed;
}
#frontend {
    background: url(../images/services/frontend.png) no-repeat;
    background-size: cover;
    background-position: -600px;
    background-attachment:  fixed;
}
#social {
    background: url(../images/services/bgsocial.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#webdev {
    background: url(../images/services/webdev.png) no-repeat;
    background-size: cover;
    background-position: -300px;
    background-attachment: fixed;
}
#marketing {
    background: url(../images/services/bgmarketing.png) no-repeat;
    background-size: cover;
    background-position: -600px;
    background-attachment: fixed;
}
#backcon {
    background: url(../images/services/bgcontact.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;   
    background-size: cover;
}
.icoo {
    background: url("../Logo/DeegeelabLogo.png");
    position: relative;
    height: 80px;
    width: 80px;
}
p.label {
    font-size: 15px;
}
.deegeelab-pulse {
    box-shadow: 0 0 0 rgba(2, 186, 208, 0.4);
    animation: deegeelab-pulse 1s infinite;
}
.deegeelab-pulse:hover {
    animation: deegeelab-pulse 1s infinite;
}
.shadowed{
    text-shadow: 0px 0px 10px #000;
}

#why-deegeelab{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
    border: none;
    background: rgba(0,0,0,0.5);
}
#why-deegeelab .collapsible-header{
    background:transparent !important;
    border:none;
    text-align: center;
}
#why-deegeelab .collapsible-body{
    background:transparent !important;
    border:none;
    text-align: left;
    padding-top: 0px;
}

.loading .main-section .bg{
    background:#000; 
    position:absolute;
}
.loading .main-section .stage{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    height: 60%;
}
.loading .main-section #display_tagline .progress{
    background:transparent;
    display: block;
}
.loading #display_tagline{
    margin:0 auto;
    max-width: 800px;
    z-index:  1000;
}

#display_tagline .progress{
    display: none;
    background: transparent;
}
.contact-section .layer{
    /* padding: 50px 0px 20% 0px; */
}

.footer-section ul li{
    min-width: 40px;
    /* margin-left:30px; */
    display:inline-block;
    height: 0px;
    /* border-right: 1px solid #333; */
    /* border-left: 1px solid #ccc; */
}
.footer-section a{
    /* line-height: 40px; */
}
.footer-section ul{
    /* margin: 0px; */
}
.footer-section img.social-icons{
    margin-right:10px;
}
.footer-section {
     /*position: fixed;*/
     bottom: 0%;
     /*height: 50px;*/
     width: 100%;
     /* padding: 5px; */
     color: #fff;
     background-color: rgba(0, 0, 0, 1);
     z-index:  10000;
     margin-bottom: 0px !important;
}
#fp-nav{
    display:none;
}
#nodes .list{
    position:absolute;
    width: 100%;
    height:  100%;
    margin: 50px 0px 0px 0px;
}
#nodes .list .node{
    height: 100px;
    z-index: 10000;
    position:relative;
}
/* fallback */
img.icondrop {
    width: 100px;
}
span.head {
    font-size: 25px;
    font-weight: 600;
}
/*Additional Css*/
[data-collapse] {
    display: none
}
.services-content {
    min-height: 768px !important;
}
.paragraph tr td:nth-child(1) {
    vertical-align: top;
}
.service-menu{
    margin: 10px 0px 0px 0px;
    position:  absolute;
}
.service-menu ul{
    margin: 0px;
}
label{
    text-align: left !important;
}   
#menu .social-icons{
    position:fixed;
    bottom: 10%;
    padding-left: 25px;
}
#menu .social-icons ul li a{
    display:inline-block;
    padding-right: 0px;
    padding-left: 10px;
}
.text-middle {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    height: 20%;
}
#why-deegeelab .collapsible-body{
    /* overflow: scroll; */
    max-height: 500px;
}

.show-on-small{
    display:none !important;
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: block !important
    }
}